<div class="row" id="caja">
    <div class="row row-cols-2 row-cols-md-3 row-cols-sm-2">
      <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Aries')">
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-4 col-4">
            <img src="../../../assets/image/Aries.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8 col-sm-8 col-8" id="ti">
            <div class="card-body">
              <h5 class="card-title">Aries</h5>
            </div>
          </div>
        </div>
      </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Taurus')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Taurus.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Tauro</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Gemini')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Gemini.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Geminis</h5>
                </div>
              </div>
            </div>
          </div>

         <div class="card mb-3" id="tar"(click)="cargarHoroscopo('Cancer')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Cancer.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Cancer</h5>
                </div>
              </div>
            </div>
          </div>

         <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Leo')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Leo.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Leo</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Virgo')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Virgo.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Virgo</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Libra')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Libra.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Libra</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Scorpio')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Scorpio.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Escorpio</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Sagittarius')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Sagittarius.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Sagitario</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Capricorn')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Capricorn.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Capricornio</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Aquarius')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Aquarius.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Acuario</h5>
                </div>
              </div>
            </div>
          </div>

         <div class="card mb-3" id="tar" (click)="cargarHoroscopo('Pisces')">
            <div class="row no-gutters">
              <div class="col-md-4 col-sm-4 col-4">
                <img src="../../../assets/image/Pisces.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8 col-sm-8 col-8" id="ti">
                <div class="card-body">
                  <h5 class="card-title">Piscis</h5>
                </div>
              </div>
            </div>
          </div> 
    </div>
    <input type="date" class="col-md-6 offset-md-3"  form="YYYY-mm-dd" name="ns"  [(ngModel)]="nac">

    <button type="button" class="btn btn-outline-danger" (click)="buscarHoroscopo()" (click)="cargarHoroscopo(signo)" >Cargar Horoscopo</button>

</div>

<br>

<div class="row">

    <div class="col-md-12 col-lg-12" >
        <div class="card"  *ngFor="let item of listares">
            <div class="card-header titulocard " >
                <h2 class="card-title ">{{item.name}}</h2>
                <h2 class="card-title ">( del {{item.start_date}} a {{item.end_date}} )</h2>
            </div>
            <div class="card-body" id="{{item.name}}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../assets/image/{{item.name}}.png" class="card-img" alt="...">
                    </div>
                    
                    <div class="card-body col-md-8">
                      <h4>Horóscopo de hoy:</h4><p class="card-text">Deberás tomar complicadas decisiones en lo que concierne a la pareja en la jornada de hoy. Busca en ti la aceptación.</p>
                      <h5>Amor: </h5><p class=" card-text">Con tus sentimientos a flor de piel, sentirás que tu pareja no te ama lo suficiente. Busca hablar de esto con ella.</p>
                      <h5>Riqueza:</h5><p class=" card-text">No dejes de lado lo seguro por explorar nuevos horizontes laborales. Se muy cuidadoso con las decisiones que tomas.</p>
                      <h5>Bienestar:</h5><p class=" card-text"> Utiliza el día de hoy para replantearte tus actitudes y acciones ante la vida. Esto te permitirá elegir siempre el camino más ventajoso.</p>
                               
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
